<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in - Trackgenix</title>

  <!-- Css reset file -->
  <link rel="stylesheet" href="../styles/reset.css" />
  <!-- Css styles -->
  <link rel="stylesheet" href="../styles/login.css" />
  <link rel="stylesheet" href="../styles/modal.css" />

  <!-- JS files -->
  <script type="text/javascript" src="../js/validations.js"></script>
  <script type="text/javascript" src="../js/login.js"></script>
</head>

<body class="login">
  <!-- Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="modal-title"></h2>
        <span id="modal-close"></span>
      </div>
      <div id="modal-text" class="modal-text">
        <p id="modal-text"></p>
      </div>
    </div>
  </div>
  <!-- /Modal -->

  <header>
    <h2><a href="index.html">Trackgenix</a></h2>
    <div>
      <span>Don't have an account?</span>
      <a href="sign-up.html">Sign up.</a>
    </div>
    <!-- <a href="sign-up.html">Sign up</a> -->
  </header>
  <main>
    <section>
      <h1>Log in</h1>
      <form action="">
        <div class="input-icon">
          <img src="../assets/icon/icon-mail.svg" alt="" id="email-icon">
          <input type="text" name="email" id="email" placeholder="someone@gmail.com">
        </div>
        <div class="input-icon">
          <img src="../assets/icon/icon-padlock.svg" alt="" id="password-icon">
          <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="remember-me" name="remember-me">
          <label for="remember-me">Remember me</label>
        </div>
      </form>
      <button id="button-login">Log in</button>
      <a class="sign-up-button" href="sign-up.html">Sign up</a>
      <p>Forgot your password?</p>
      <a class="reset-it-button" href="#">Reset it</a>

    </section>
</body>

</html>