/**/
/**/
/**/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  /*margin: 0 0 0 308px;*/
  color: #373867;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: #373867;
  display: inline;
}
h3 {
  font-size: 18px;
  font-weight: regular;
  color: #373867;
  display: inline;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #373867;
}
/**/
/* General */
main {
  padding: 0 10px;
}
.inline {
  display: inline;
}
.green {
  background-color: #aace9b;
}
.grey {
  background-color: #c4c4c4;
}

/* General */
/**/
/* Header */
.menu-button {
  display: inline-block;
  width: 30px;
  height: 18px;
}
.button-line {
  width: 100%;
  height: 2.5px;
  background-color: #373867;
  margin-bottom: 5px;
  border-radius: 2px;
}
header {
  box-sizing: border-box;
  height: 137px;
  position: relative;
  padding: 20px 0;
  margin-bottom: 20px;
}
header ul {
  display: inline-block;
  position: absolute;
  right: 0;
}
.social-media-icons {
  display: inline-block;
}
/* Header */
/**/
/* Sidebar */
aside {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 308px;
  padding: 18px;
  background-color: #ffffff;
  /**/
  display: none;
  /**/
}
nav {
  margin-bottom: 20px;
}
aside .title-line {
  width: fit-content;
  margin-bottom: 16px;
}
aside .short-line {
  margin-top: 10px;
  height: 4px;
  width: 100%;
}
aside .menu {
  margin-bottom: 46px;
}
aside .menu li {
  position: relative;
}
aside .menu a {
  display: block;
  padding: 32px 0 18px 18px;
  width: 290px;
  position: relative;
  left: -18px;
}
aside a:hover {
  background-color: #f1f1f1;
}
aside .long-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}
aside .get-in-touch p {
  margin-top: 34px;
  font-size: 12px;
  line-height: 19px;
}
aside .get-in-touch ul {
  margin: 24px 0;
}
aside .get-in-touch li {
  margin-bottom: 24px;
}
aside .get-in-touch a {
  display: block;
  height: 24px;
  font-size: 12px;
  line-height: 19px;
  padding: 6px 0;
}
aside .get-in-touch a img {
  width: 24px;
  height: 24px;
  margin: auto 26px auto 0;
  filter: invert(83%) sepia(34%) saturate(277%) hue-rotate(57deg)
    brightness(91%) contrast(84%);
}
aside .get-in-touch a div {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* Sidebar */
/**/
