/**/
body {
  margin: 0 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #373867;
}
main {
}
h1 {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  color: #373867;
}
h2 {
  display: inline-block;
  font-weight: bold;
  color: #373867;
}
h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #373867;
}
h4 {
  display: inline-block;
  font-weight: normal;
  color: #373867;
}
h5 {
  display: inline-block;
  font-weight: bold;
  color: #373867;
}
p {
  font-weight: normal;
  color: #373867;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #373867;
}
.inline {
  display: inline;
}
.green {
  background-color: #aace9b;
}
.social-media-icons {
  display: inline-block;
}
.social-media-icons,
.social-media-icons a,
.social-media-icons img {
  height: 28px;
  width: 28px;
}
.social-media-icons img.twitter-img {
  height: 24px;
}
.social-media-icons.twitter-container a {
  height: 24px;
}
li.twitter-container {
  display: flex;
  align-items: center;
}
.border-bottom-gray {
  border-bottom: 2px solid #c4c4c4;
}
.border-bottom-green {
  border-bottom: 6px solid #aace9b;
}
